 *{
    font-family: Montserrat;
}

.row
{
    padding: 20px 15px 0px 15px;
}
body
{
        background-color: #eeeeee;
}

.card
{
    margin: 12px 20px 12px 20px;
    border-radius: 20px;
    height: 140px;
}



.card-content
{
    font-size: 11px;
}


#logo
{
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
}

.card-image
{
    margin: 15px 10px 20px 20px;
    top: 19%;
    width: 50px;
   
}

#java
{
    margin: 15px 10px 20px 20px;
    top: 12%;
    
}
h5
{
    font-size: 14px; 
    color: #333333;
}

p
{
    font-size: 12px;
    color: #000000;
    
}

.navicon
{
    margin: 18px auto;
}

.navicon img
{
    width: 20px;
    height: 20px;
}