*{

    background-color: #EEEEE;
    font-family: Montserrat;
 
}

body
{
        background-color: #039be5;
}

fieldset
{
    height: 100px;
    width: 340px;
    margin: 20px auto;
    border: 2px solid #4DA9F7;
    border-radius: 10px;
    
}


header
{
    padding: 10px;
    text-align: center;
}

section
{
    text-align: center;
}
section img
{
    margin: 50px;
}




.card
{
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    height: 145px;
}


#logo
{
    padding: 0 30px;
    font-size: 17px;
    font-weight: 600;
}

.card-image
{
    margin: 15px 10px 20px 20px;
    top: 19%;
    width: 55px;
   
}

#java
{
    margin: 15px 10px 20px 20px;
    top: 12%;
    
}
h5
{
    font-size: 14px; 
    color: #333333;
}
p
{
    color: #000000;
    
}